.mantine-Carousel-control {
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: black;
  background-color: #fff !important;
  transition: opacity 300ms ease;
  opacity: 0;
}

.mantine-Carousel-root:hover .mantine-Carousel-control {
  opacity: 1;
}
