@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 13px,
      rgba(0, 0, 0, 0.04) 13px,
      rgba(0, 0, 0, 0.04) 24px,
      transparent 24px,
      transparent 62px,
      rgba(0, 0, 0, 0.04) 62px,
      rgba(0, 0, 0, 0.04) 96px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 14px,
      rgb(255, 255, 255) 14px,
      rgb(255, 255, 255) 18px,
      rgb(255, 255, 255) 18px,
      rgb(255, 255, 255) 28px,
      rgb(255, 255, 255) 28px,
      rgb(255, 255, 255) 32px
    );
  background-size: 21px 21px;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #d7d7d7;
}

/* Chrome, Edge, and Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #aeaeae38;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  height: 50px;
  border-radius: 10px;
}
